.dialogs_main {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px 0 0 15px;
}

.dialogs_items .active {
    color: #E93636;
}

.dialog {

}

.massages {
    padding: 10px 0 0 15px;
}

.massage {

}